.news{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    color: #485060;
    font-family: 'Arvo', sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    background-color: white;
    height: 100vh;
    align-items: center;
    width: 100%;
}

.news .heading{
    padding-top: 130px;
    padding-bottom: 10px;
}

.news .title{
    display: block;
    font-size: 30px;
}

.time-stamp{
    font-size: 15px;
}

.news_container{
    height: 55%;
    overflow-y: scroll;
    width: 90%;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #485060;
    margin: .75em;
    background-color: #F0CF91;
    color: black;
}

.news-section{
    font-size: 27px;
}

.news .past-news-button{
    padding: 10px;
    background-color: #C7AC7A;
    margin-bottom: 10px;
}

@media only screen and (max-width: 750px) {
   .news-container{
    font-size: 4vw;
    background-color: white;
   }

   .news .title{
    font-size: 4vw;
    }

    .news .playback{
        width: 50%;
        display: block;
    }

    .time-stamp{
        font-size: 2vw;
        margin-bottom: 0;
    }

}


.news .popup{
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: white;
    align-items: center;
}

.news .popup .content{
    overflow-y: scroll;
    width: 90%;
    height: 65%;
}

.news .popup .close{
    position: absolute;
    right: 10px;
    top: 130px;
    padding: 10px;
    color: #485060;
    background-color: #C7AC7A;;
}

.close:hover{
    cursor: pointer;
}

.popup-news-container{
    overflow-y: scroll;
    width: 100%;
}

.popup-news-container-content{
    font-size: 12px;
}

.popup-header{
    border: black thin solid;
    background-color: #485060;
    color: white;
}

.popup-time{
    text-align: start;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.popup-button{
    padding: 10px;
    background-color: #C7AC7A;;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.popup-news-content{
    border: black thin solid;
    padding: 15px;
    height: 300px;
    overflow-y: scroll;
    background-color: #F0CF91;
    color: black;
}