.news{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    color: #485060;
    font-family: 'Arvo', sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    background-color: white;
    height: 100vh;
    align-items: center;
}

.heading{
    padding-bottom: 30px;
}

.title{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 30px;
    margin-bottom: -50px;
}

.time-stamp{
    font-size: 15px;
}

.news_container{
    height: 58%;
    overflow-y: scroll;
    width: 90%;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #485060;
    margin: .75em;
    background-color: #F0CF91;
    color: black;
}