.top-songs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 575px;
}

.container .filter-form-songs {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.container .filter-form-song-input{
    height: 15px;
    width: 70%;
    background-color: #F0CF91;
    border: 1px solid #C7AC7A;
    border-radius: 50px;
}

.top-songs-container .song{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #485060;
    margin: .75em;
    background-color: white;
    width: 60%;
}

.top-songs-container .song-info {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    font-family: 'Garamond Premier Pro', serif;
    text-align: left;
    padding-bottom: 20px;
}

.top-songs-container .song-content{
    width: 70%;
    height: 100%;
    padding-right: 20px;
}

.top-songs-container .song-content h1{
    font-size: 2.3vw;
}

.top-songs-container .song-content h3{
    font-size: 1.8vw;
}

.top-songs-container .album-image{
    width: 30%;
}
.top-songs-container .album-image img {
    width: 100%;
    float: right;
}

.top-songs-container h1{
    font-family: 'Archivo Black', sans-serif;
}

.top-songs-container iframe{
    width: 100%;
}

.container .heading{
    padding-top: 120px;
    font-size: min(4vw, 30px);
    text-align: center;
    color: #485060;
    font-family: 'Archivo Black', sans-serif;
}

@media only screen and (max-width: 750px) {
    .top-songs-container .song{
        width: 80%;
    }

    .top-songs-container .song-info{
        padding-bottom: 20px;
    }
    .top-songs-container .song-content{
        height: 100%;
        padding-right: 5px;
        width: 65%;
    }

    .top-songs-container .song-content h1{
        font-size: 2.8vw;
    }

    .top-songs-container .song-content h3{
        font-size: 2.8vw;
    }

    .top-songs-container .album-image{
        width: 35%;
    }

}