@viewport {
	width: 100%;
}

.group{
    height: 87.5vh;
    padding-top: 100px;
    background-color: #515D71;
}

.home{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.homeHeading{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #F0CF91;
    text-align: left;
}

.paragraph{
    font-family: 'Garamond Premier Pro', serif;
    font-size: 35px;
    text-align: left;
    color: #C7AC7A;
}

.content{
    width: 50%;
    float: left;
    padding: 0 5%;

}

img{
    width: 45%;
    vertical-align: middle;
}

.icon{
    width: 35%;
    vertical-align: middle;
    padding: 1.5% 7.5%;
}

.banner{
    font-family: 'Garamond Premier Pro', serif;
    font-size: 20px;
    color: #485060;
    padding-bottom: 5px;
    background-color: #F0CF91;
    padding-left: 5px;
    padding-top: 5px;
}

@media only screen and (max-width: 750px) {
    .home{
        flex-direction: column;
        padding: 0; 
        margin: 0;
        height: 100vh;
    }

    .group{
        height: 100%;
        overflow-y: scroll;
    }

    .banner{
        font-size: 3vw;
    }

    .paragraph{
        font-size: 4vw;
    }

    .homeHeading{
        font-size: 40px;
        font-size: 7vw;
        padding-bottom: 10px;
    }

    .icon{
        font-size: 8vw;
    }
}

