

.group{
    height: 89vh;
    padding-top: 100px;
    background-color: #515D71;
}

.home{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.homeHeading{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #F0CF91;
    text-align: left;
}

.paragraph{
    font-family: 'Garamond Premier Pro', serif;
    font-size: 35px;
    text-align: left;
    color: #C7AC7A;
}

.content{
    width: 50%;
    float: left;
    padding: 0 5%;

}

img{
    width: 45%;
    vertical-align: middle;
}

.icon{
    width: 35%;
    vertical-align: middle;
    padding: 1.5% 7.5%;
}

.banner{
    font-family: 'Garamond Premier Pro', serif;
    font-size: 20px;
    color: #485060;
    padding-bottom: 5px;
    background-color: #F0CF91;
    padding-left: 15px;
    padding-top: 5px;
}

.pwa-button{
    text-align: center;
}

.pwa-link-button{
    padding: 10px;
    background-color: #C7AC7A;
    color: #515D71;
}

@media only screen and (max-width: 750px) {
    .home{
        flex-direction: column;
        padding: 5% 0 0 0;
        margin: 0;
        height: 75vh;
    }

    .group{
        overflow-y: scroll;
        height: 87.5vh;
    }

    .banner{
        font-size: 3vw;
        padding: 15px 0 0 0;
        text-align: center;
        height: 4%;
    }

    .content{
        width: 80%;
        height: 50%;

    }

    .paragraph{
        font-size: 5vw;
    }

    .homeHeading{
        font-size: 8vw;
        padding-bottom: 10px;
    }

    .pwa-button{
        margin-top: 15%;
    }

    .icon{
        height: 200px;
        width: 200px;
    }
}

