.music{
    color: #485060;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    position: fixed;
    height: 88vh;
    background-color: white;
    width: 100%;
}

.sidePanel{
    flex: 1;
    flex-grow: 0;   
    flex-basis: 25em;
    text-align:center;
    color: #F0CF91;
    font-family: 'Archivo Black', sans-serif;
    justify-content: flex-start;
    width: 100%;
    background-color: #485060;
}

.filter-form-songs {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.filter-form-song-input{
    height: 15px;
    width: 500px;
}

.filter-form-stations {
    width: 100%;
    padding-top: 10px;
}

.filter-form-station-input{
    width: 200px;
    background-color: #F0CF91;
    border: 1px solid #C7AC7A;
    border-radius: 50px;
    margin: 0px 5px;
}

.filter-form_dropdown{
    color: gray;
    width: 200px;
    background-color: #F0CF91;
    border: 1px solid #C7AC7A;
    border-radius: 50px;
    margin: 20px 5px;
}

.list_container{
    margin-top: 15px;
    overflow-y: auto;
    height: 89%;
}

.container{
    flex: 4;
    flex-grow: 0;   
    flex-basis: 100em;
    text-align:center;
    align-items: center;
    margin: 0;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
}

.empty_song_container{
    padding-top: 100px;
    font-size: 30px;
}

.song_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

.stationHeading{
    font-family: 'Archivo Black', sans-serif;
}

.song{
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #485060;
    margin: .75em;
    background-color: white;
    width: 60%;
}

.album-image{
    width:300px;
    float: right;
}

.album-image img {
    width: 180px;
    height: 180px;
}

.song-info {
    word-wrap: break-word;
    width: 600px;
    font-family: 'Garamond Premier Pro', serif;
    font-size: 18px;
    float: left;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 24px;
}

.yt-link{
    color:#542124;
}

.yt-link:visited{
    color:#542124;
}

.banner{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
}

.close-button{
    float: right;
    padding-right: 40px;
}

.close-button:hover{
    cursor: pointer;
}

.heading{
    padding-top:120px;
    font-size: 24px;
    text-align: center;
    color: #485060;
    font-family: 'Archivo Black', sans-serif;
}

.station{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.station:hover{
    cursor: pointer;
    color:#542124;
}

.station_name{
    display: inline-block;
    padding-right: 8px;
    font-size: 30px;
    font-weight: bold;
}

.station_freq{
    text-align: center;
    font-size: 20px;
}


.top-songs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 575px;
}