.music{
    color: #485060;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    position: fixed;
    height: 88vh;
    background-color: white;
    width: 100%;
}

.music .sidePanel{
    flex: 1;
    flex-grow: 0;   
    flex-basis: 25em;
    text-align:center;
    color: #F0CF91;
    font-family: 'Archivo Black', sans-serif;
    justify-content: flex-start;
    width: 100%;
    background-color: #485060;
    height: 100vh;
}

.music .side-nav-bar{
    height: 100vh;
    overflow-y: scroll;
}

 .music .filter-form-songs {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.music .filter-form-song-input{
    height: 15px;
    width: 70%;
    background-color: #F0CF91;
    border: 1px solid #C7AC7A;
    border-radius: 50px;
}

.music .filter-form-stations {
    width: 100%;
    padding-top: 10px;
}

.music .filter-form-station-input{
    width: 85%;
    background-color: #F0CF91;
    border: 1px solid #C7AC7A;
    border-radius: 50px;
    margin: 0 5px;
}

.music .filter-form_dropdown{
    color: gray;
    width: 85%;
    background-color: #F0CF91;
    border: 1px solid #C7AC7A;
    border-radius: 50px;
    margin: 20px 5px;
}

.music .list_container{
    margin-top: 15px;
    overflow-y: auto;
    height: 78%;
}

.music .container{
    flex: 4;
    flex-grow: 0;   
    flex-basis: 100em;
    text-align:center;
    align-items: center;
    margin: 0;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
}

.music .empty_song_container{
    padding-top: 100px;
    font-size: 30px;
}

.music .song_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    height: 95%;
}

.music .stationHeading{
    font-family: 'Archivo Black', sans-serif;
}

.music .song{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #485060;
    margin: .75em;
    background-color: white;
    width: 60%;
}

.music .song-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    font-family: 'Garamond Premier Pro', serif;
    text-align: left;
}

.music .song-info h1{
    font-size: min(2vw, 30px);
}

.music .song-content{
    padding-right: 10px;
    font-size: min(1.5vw, 18px);
}

.music .album-image{
    width: 60%;
    height: min(200px, 33.33vh);
}
.music .album-image img {
    width: 60%;
    height: min(200px, 33.33vh);
    float: right;
}

.music h1{
    font-family: 'Archivo Black', sans-serif;
}

.music iframe{
    width: 100%;
}

.music .banner{
    margin: 0;
    padding: 10px 0 5px 10px;
    position: relative;
}

.music .close-button{
    float: right;
    padding-right: 40px;
}

.music .close-button:hover{
    cursor: pointer;
}

.music .heading{
    padding-top:120px;
    font-size: 24px;
    text-align: center;
    color: #485060;
    font-family: 'Archivo Black', sans-serif;
}

.music .station{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music .station:hover{
    cursor: pointer;
    color:#542124;
}

.music .station_name{
    display: inline-block;
    padding-right: 8px;
    font-weight: bold;
    font-size: 25px;
}

.music .station_freq{
    text-align: center;
    font-size: 20px;
}

.music .sidebar-nav-hide {
    left: -1000px;
}

@media only screen and (max-width: 750px) {
    .music .sidePanel {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 2;
    }

    .music .side-nav-bar{
        height: 100%;
        width: 100%;
        z-index: 2;
        overflow-y: scroll;
    }

    .music #menuBtn {
        display: block;
    }

    .music .filter-form-station-input{
        width: 50%;
        font-size: 4vw;
    }
    
    .music .filter-form_dropdown{
        width: 50%;
        font-size: 4vw;
    }

    .music .station_name{
        font-size: 4vw;
    }

    .music .station_freq{
        font-size: 4vw;
    }

    .music .banner{
        font-size: 3.5vw;
    }

    .music .stationHeading{
        font-size: 4vw;
    }

    .music .album-image img{
        height: 12vh;
        width: 60%;
    }

    .music .list_container{
        height: 75%;
    }
    
   .music iframe{
        margin-top: -40px;
    }
}

.music #menuBtn {
    display: none;
    margin: 0;
    z-index: 3;
    position: fixed;
    right: 14px;
    top: 140px;
    color:#C7AC7A;
    font-size: 40px;
    cursor: pointer;
    transition: color 1s;
    font-size: 6vw;
}