@viewport {
	width: device-width;
}

.nav{
	position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    z-index: 1;             
    background-color: #C25C5C;
    color: white;
    font-weight: bold;
    width: 100%;
    min-width: 500px;
    height: 80px;
    border-bottom: thin solid black;
}

.navTitle { 
    float: left;
    padding-left: 10px;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: left;   
    color:#542124;
}

.navTitle:hover{
	cursor: pointer;
}

.navTabs{
    padding-top: 15px;
    float: left;
    width:100%;
}

.navLink { 
    font-size: 18px;
    width: 25%;
    text-align:center;
    display: inline;
    float: left;
}

.hamburgerIcon{
	display:none;
	width:40%;
	height: auto;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover {
    color:#542124;
}

.link:active{
	background-color:#5eaddb;
	color:black;
}

@media screen and (max-width: 600px){
	.nav .navTabs{
		float: none;
		display:flex;
		text-align: left;
	}
}